<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD VUE tugas perbaikan Mikail</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/fa/css/all.css">
    <script src="assets/fa/js/all.js"></script>
    <style>
    #overlay{
        position: fixed;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6)
    }
    </style>
</head>
<body>
    <div id="app">
        <div class="container-fluid">
            <div class="row bg-dark">
                <div class=" col-lg-12">
                    <p class="text-center text-light display-4 pt-2" style="font-size:25px">CRUD VUE untuk memenuhi tugas perbaikan PBW oleh Mikail 028</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mt-3">
                <div class="col-lg-6">
                    <!--######################## Create bakalan disini ################################ -->
                    <h3 class="text-info">Data Mahasiswa</h3>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-info float-right" @click="showModal=true">
                        <i class="fas fa-user"></i>&nbsp;&nbsp; Tambah Data Mahasiswa
                    </button>
                </div>
            </div>
            <hr class="bg-info">
            <div class="alert alert-danger" v-if="errorMsg">
                {{ errorMsg }}
            </div>
            <div class="alert alert-success" v-if="successMsg">
                {{ successMsg }}
            </div>
            <!--################################# READ disini ############################################-->
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr class="text-center bg-info text-light">
                                <th>ID</th>
                                <th>Nama</th>
                                <th>NRP</th>
                                <th>Email</th>
                                <th>Edit</th>
                                <th>Hapus</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" v-for="user in users">
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.nrp }}</td>
                                <td>{{ user.email }}</td>
                                <td><a href="#" class="text-success" @click="showModal2=true; selectUser(user);"><i class="fas fa-edit"></i></a></td>
                                <td><a href="#" class="text-danger" @click="showModal3=true; selectUser(user);"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--######################################### tambah user ###########################################################-->
        <div id="overlay" v-if="showModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Tambah Data Mahasiswa</h5>
                        <button type="button" class="close" @click="showModal=false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form action="post" action="#">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control form-control-lg" placeholder="nama" v-model="newUser.name">
                            </div>
                            <div class="form-group">
                                <input type="number" name="nrp" class="form-control-lg form-control" placeholder="NRP" v-model="newUser.nrp">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control-lg form-control" placeholder="Email" v-model="newUser.email">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info btn-block btn-lg" @click="showModal=false; addUser(); clearMsg();">Buat Data</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--######################################### Edit user ###########################################################-->
        <div id="overlay" v-if="showModal2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Data Mahasiswa</h5>
                        <button type="button" class="close" @click="showModal2=false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form action="post" action="#">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control form-control-lg" v-model="currentUser.name">
                            </div>
                            <div class="form-group">
                                <input type="number" name="nrp" class="form-control-lg form-control" v-model="currentUser.nrp">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control-lg form-control" v-model="currentUser.email">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info btn-block btn-lg" @click="showModal2=false; updateUser(); clearMsg();">Update Data</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <!--######################################### Delete user ###########################################################-->
        <div id="overlay" v-if="showModal3">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Data</h5>
                        <button type="button" class="close" @click="showModal3=false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <h5 class="text-danger">Apakah anda yakin ingin menghapus User ini?</h5>
                        <h6>Anda akan menghapus '{{ currentUser.name }}'</h6>
                        <hr>
                        <button class="btn btn-danger btn-lg" @click="showModal3=false; deleteUser(); clearMsg();">Ya</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-success btn-lg" @click="showModal3=false">Tidak</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
    
    </script>
</body>
</html>