{% extends "base.html" %}
 
{% block title %}{{ nama }}{% endblock %}
 
{% block body %}
 
    <h1>{{ nama }}</h1>

    <table>
        <tr>
            {% for ju in judul %}
            <th>{{ ju }}</th>
            {% endfor %}
        </tr>
            {% for post in posts %}
        <tr>
            <td>{{ post.satu }}</td>
            <td>{{ post.dua }}</td>
            <td>{{ post.tiga }}</td>
            <td>{{ post.empat }}</td>
            <td>{{ post.lima }}</td>
        </tr>
            {% endfor %}
    </table>
 
{% endblock %}
